.footer-container{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.footer-link-text{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}


.logo-footer {
    content: url(/src/assets/logoBlanco.png);
    width: 200px;
    margin: 20px 10px 20px 30px;
    align-self: center;
}
