.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 50px 30px 50px 30px;
}

.description-home{
    font-size: 12px;
    text-align: center;
    margin: 20px 0px 20px 0px;

}