*{
  margin: 0;
  padding: 0;

}

:root{
  --rojo: #FF003C;
  --lavanda: #656fa4;
--gris-oscuro: #414141;
}

h1{
  color: var(--lavanda);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0 10px 0;
}

h2{
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

h3{
  color: var(--lavanda);
  font-size: 16px;
  font-weight: 700;
  margin: 35px 0 5px 0;
}

h4{
  color: var(--gris-oscuro);
  font-size: 14px;
 margin: 0 0 5px 0;
 
}

.button{
  margin: 8px;
  padding: 10px;
  background-color: var(--rojo);
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  border: 1px solid var(--rojo);
}

.button:hover {
  background-color: white;
  color: var(--rojo);
  border: 1px solid grey;
}

@media only screen and (min-width:500px) {

h1{
  font-size: 40px;
}

h2{
  font-size: 24px;
}

button{
  font-size: 18px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 18px;
}
}